---
---

@import "minima";

.tip {
  background-color: mistyrose;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: dashed;
  border-color: salmon;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.tip:before {
  color: salmon;
  font-weight: bold;
  content: "REMEMBER\a";
  white-space: pre;
  padding-bottom: 5px;
}

.page__content {
  text-align: justify;
}
